/* My Costume styles */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

* {
  font-family: "Kumbh Sans", sans-serif;
}

/* All posts page  */
#posts {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Adjusted for responsiveness */
  gap: 20px; /* Adjusted for better spacing */
  padding: 1em;
  justify-content: center;
  max-width: 1200px; /* Adjusted max-width for better readability */
  margin: 0 auto; /* Center the posts horizontally */
}

.posts-card {
  background-color: #cbd8fb;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100%; /* Make each card take full width */
}

.posts-card:hover {
  transform: scale(1.05);
}

img.img-fluid {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.title {
  margin-bottom: 10px;
  font-size: 18px;
}

/* One specific post page  */

#post {
  display: flex;
  gap: 50px;
  padding: 1em;
  width: 100vw;
  justify-content: center;
}

.post-post {
  background-color: #cbd8fb;
  margin-top: 50px;
  width: 80vw;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

img.img-fluid-1 {
  height: 40vh;
  width: 80%; /* Adjusted to 100% for full width */
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  display: block; /* Ensure it's a block-level element */
  margin: 0 auto; /* Center the image */
}

.title-post {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.body {
  display: block;
  margin: 0 auto;
}

.tags {
  display: block;
  font-size: 16px;
}

.author {
  display: block;
  font-size: 16px;
}

.body,
.created,
.updated,
.author,
.post-id,
.tags {
  text-align: center; /* Center the text */
  margin: 0; /* Remove default margin */
}

/// Styles for header

#createPost1 {
  color: #000;
}

.logo {
  height: 120px;
  width: 120px;
}

/*  */

$blue: #104ba3;
$indigo: #6c19f1;
$purple: #4f2f89;
$pink: #d36ca0;
$red: #be192a;
$orange: #ed7512;
$yellow: #fdc51c;
$green: #469f79;
$teal: #23c292;
$cyan: #2ed2f2;

// scss-docs-start spacer-variables-maps
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);
// scss-docs-end spacer-variables-maps
